div#home-main {
  display: flex;
  width: 100%;
}

div#home-left {
  flex: 1;
  height: 100vh;
  background: url(../../assets/svg/home_left.svg) no-repeat right;
  background-size: cover;
}

div#main-content-home {
  flex: 2;
}

h1#home-title {
  margin-left: 10px;
}

main#home {
  border-top: #36E332 1px solid;
  border-bottom: #36E332 1px solid;
  padding-left: 10px;
}

nav>ul#home-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}