div#home-main {
  display: flex;
  width: 100%;
}

div#home-left {
  flex: 1;
  height: 100vh;
  background: url(../../assets/svg/home_left.svg) no-repeat right;
  background-size: cover;
}

div#main-content-home {
  flex: 2;
}

h1#home-title {
  margin-left: 10px;
}

main#home {
  border-top: #36E332 1px solid;
  border-bottom: #36E332 1px solid;
  padding-left: 10px;
}

nav>ul#home-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav>ul#home-navigation>li {
  height: 200px;
  width: 250px;
  margin: 30px 15px;
  overflow: hidden;
  border-radius: 15px;
  transition: border 1s;
  position: relative;
  border: #000000 1.5px solid;
}

nav>ul#home-navigation>li:hover {
  border-color: #36E332;
}

nav>ul#home-navigation>li>a{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

nav>ul#home-navigation>li>a>img {
  position: absolute;
  align-self: flex-start;
  transition: transform 1s;
}

nav>ul#home-navigation>li>a>img:hover{
  transform: scale(1.5);
}

nav>ul#home-navigation>li>a>p {
  width: 100%;
  text-align: center;
  background-color: #FFFFFF;
  z-index: 100;
}