footer#footer{
  display: flex;
  align-items: center;
  position: relative;

  padding: 0px 10px;

  height: 42px;
  min-width: 100%;
  background-color: #36E332;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

footer#footer>p>span {
  font-weight: bold;
  color: #FFFFFF;
}

footer#footer>img{
  position: absolute;
  right: 0px;
  bottom: 0px;
}